@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Sign in, then click <b>LossType</b> in the navigation bar above to begin viewing reports</p>
    <img src="https://www.crawco.com/assets/img/stats-background.png" style="width:100%" />
</div>
