@page
@model ClaimsHandler.Pages.reports.LossTypeReport.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h2 class="text-danger">Cannot Create LossType Records At This Time. Please Check Back Later</h2>

<h4>LossType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LossType.LossTypeCode" class="control-label"></label>
                <input asp-for="LossType.LossTypeCode" class="form-control" />
                <span asp-validation-for="LossType.LossTypeCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LossType.LossTypeDescription" class="control-label"></label>
                <input asp-for="LossType.LossTypeDescription" class="form-control" />
                <span asp-validation-for="LossType.LossTypeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LossType.LastUpdatedId" class="control-label"></label>
                <input asp-for="LossType.LastUpdatedId" class="form-control" />
                <span asp-validation-for="LossType.LastUpdatedId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LossType.CreatedId" class="control-label"></label>
                <input asp-for="LossType.CreatedId" class="form-control" />
                <span asp-validation-for="LossType.CreatedId" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<input type="submit" value="Create" class="btn btn-primary" />*@
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
